<launch>
<!-- Load the TortoiseBot URDF model into the parameter server -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rc_truck)/world/roof_top.world"/>
    <!-- more default parameters can be changed here -->
  </include>
</launch>
